* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 17px;
}

.titulo {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
}

header {
    background: rgb(14, 15, 15);
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    line-height: 60px;
}

header ul li {
    display: inline;
    padding: 0 15px;
}

header ul li a {
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container a img {
    width: 100px;
    height: 60px;
}

#home {
    background-color: rgb(33, 34, 34);
    color: #d7d2d2;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#banner {
    background-image: url(../imagem/F1Logo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.display-flex {
    display: flex;
    gap: 20px;
}

#sobre .container h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sobre .container .display-flex div {
    width: 50%;
}

#sobre .container .display-flex div h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px;
}

#pilotos .display-flex {
    flex-direction: column;
    gap: 0;
}

#pilotos .display-flex .box {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 20px 0 20px 0;
    text-align: center;
}

#pilotos .display-flex .box div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    border: 1px solid #d7d2d2;
    border-radius: 20px 0 20px 0;
    align-items: center;
    flex: 1;
}

#pilotos .display-flex .box div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}

#equipes .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#equipes .container img {
    border-radius: 10px;
}

#equipes .container .display-flex div p {
    margin-top: 10px;
}

#equipes .container .display-flex div h2 {
    text-align: center;
    margin: 10px;
}

#equipes .container .display-flex div .display-flex img {
    width: 49%;
}

#GPs .container .display-flex {
    flex-direction: column;
    gap: 20px;
}

#GPs .container .display-flex .pais {
    display: flex;
    gap: 20px;
}

#GPs .container .display-flex .box {
    display: flex;
    gap: 20px;
    text-align: center;
}

#GPs .container .display-flex .box div {
    flex: 1;
}

#GPs .container .display-flex .box div p,
h3 {
    text-align: left;
    margin: 5px;
}

#aviso {
    background-color: #ccc;
    color: #000;
}

#aviso .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 0;
}

.btn {
    border: 1px solid rgb(43, 70, 255);
    color: rgb(43, 70, 255);
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 40px;
}

.btn:hover {
    background-color: rgb(43, 70, 255);
    color: #ccc
}

#contato {
    margin-top: 60px;
}

#contato .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    margin-bottom: 60px;
}

#contato label {
    font-size: 20px;
    margin: 15px 0px 5px 0px;
    width: 100%;
    display: block;
    /*padding-left: 15px;*/
}

#contato input {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    color: #757575;
    border: 2px solid rgb(43, 70, 226);
    border-radius: 25px;
}

#contato select {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    color: #757575;
    border: 2px solid rgb(43, 70, 226);
    border-radius: 25px;

    -webkit-appearance: none;
    /* Remove a seta padrão do safari */

    -moz-appearance: none;
    /* Remove a seta padrão do firefox */

    appearance: none;

    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ccc" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');

    background-repeat: no-repeat;

    background-position: right 10px center;
}

#contato textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    color: #757575;
    border: 2px solid rgb(43, 70, 226);
    border-radius: 25px;
    height: 150px;
}

#contato select:focus,
#contato input:focus,
#contato textarea:focus {
    outline: none;
}

#contato input[type="submit"] {
    color: rgb(43, 70, 255);

}

#contato input[type="submit"]:hover {
    color: #fff;
}

.btn-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato iframe {
    width: 100%;
    height: 400px;
}

#contato i {
    color: #c947ea;
    width: 20px;
}

#contato p {
    margin: 20px 0;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#topo a {
    background: black;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    position: fixed;
    bottom: 30px;
    right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;
}

#topo a:hover {
    transform: scale(1.2);
}

#home,
#GPs,
#sobre,
#pilotos,
#contato {
    scroll-margin-top: 80px;
}

#equipes {
    scroll-margin-top: 60px;
}

main {
    margin-top: 60px;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: #f0f0f0;
}

html::-webkit-scrollbar-thumb {
    background: rgb(104, 96, 96);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 63, 63);
}

@media (max-width:768px) {
    #contato .container {

        grid-template-columns: 1fr;
    }

    #galeria .display-flex {
        display: block;
    }
}